In [2]:
import pandas as pd

In [3]:
# create a data frame from dict

data = {'Name': ["John", "Anna", "Peter", "Linda"],
        'Location': ["New York", "Paris", "Berlin", "London"],
        'Age': [24, 13, 53, 33]
       }

data_pandas = pd.DataFrame(data)

data_pandas

   Age  Location   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter
3   33    London  Linda

In [4]:
data_pandas[data_pandas.Age > 30]

   Age Location   Name
2   53   Berlin  Peter
3   33   London  Linda